/basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/bin
/basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj
/basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs
\basicsOfOOPwithCsharp\creatingAObject-Class-inCsharp\bin
\basicsOfOOPwithCsharp\creatingAObject-Class-inCsharp\obj
\basicsOfOOPwithCsharp\creatingAObject-Class-inCsharp\.vs
basicsOfOOPwithCsharp\creatingAObject-Class-inCsharp\bin
basicsOfOOPwithCsharp\creatingAObject-Class-inCsharp\obj
basicsOfOOPwithCsharp\creatingAObject-Class-inCsharp\.vs
*.cache