basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs/Project/FileContentIndex/a8f48184-9743-4648-af5e-a0f1841590c4.vsidx
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs/Project/FileContentIndex/e5963a40-4121-4ed7-b030-219290f11022.vsidx
/basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj
*.cache
/basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs/Project/FileContentIndex/99086bf7-83e2-4668-8ab8-da420abeee72.vsidx
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs/Project/FileContentIndex/0fb32b7e-a055-41c5-b2e9-de5242a7726d.vsidx
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs/Project/FileContentIndex/9bb4ea47-7563-4bfe-86c4-b3ca1f4bf750.vsidx
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfo.cs
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfo.cs
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfoInputs.cache
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfo.cs
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs/Project/FileContentIndex/f103cfd9-0093-4466-b82b-c5487d972fca.vsidx
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfo.cs
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfo.cs
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfoInputs.cache
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfo.cs
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj/Debug/net10.0/Project.AssemblyInfoInputs.cache
