basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs/Project/FileContentIndex/a8f48184-9743-4648-af5e-a0f1841590c4.vsidx
basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/.vs/Project/FileContentIndex/e5963a40-4121-4ed7-b030-219290f11022.vsidx
/basicsOfOOPwithCsharp/creatingAObject-Class-inCsharp/obj
*.cache
